.beastiaryIndex{
    .beastiaryCard{
        .beastiaryCardHeader{
            background-color: #401155;
        }
        .image{
            width: 165px;
            height: 150px;
        }
        height: 300px;
        width: 175px;
        background-color: #220033;
    }
}