body {
    margin: 0;
    background: #330044;
    color: #FFAA00;
    font-family: 'Noto Sans Ethiopic', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    min-height: 100vh;
    height: 100vh;
}